/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-oct-2016, 10:34:03
    Author     : Iss
*/

table,td{
    border:1px solid black ;
    width:30%; 

    padding:3px;
    margin:0 auto;
    border-collapse: collapse;
}
body{

}
div,input{
    padding:10px;
    margin:0 auto;
}
form{
    margin:10px;
    padding:5px;
}